<footer class="footer myFooter secondaryColor">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column is-three-fifths-tablet is-offset-one-fifth-tablet">
            <p class="subtitle footerContent">
                &copy; Cam Schnackel
            </p>
            <p>
                <div class="columns">
                    <div class="column">
                        <a class="button is-large is-dark" href="https://github.com/camschnackel" target="_blank">
                            <span class="icon is-medium">
                                <i class="mdi mdi-github-circle"></i>
                            </span>
                            <span>GitHub</span>
                        </a>
                    </div>
                    <div class="column">
                        <a class="button is-large is-link" href="https://www.linkedin.com/in/camschnackel/" target="_blank">
                            <span class="icon is-medium">
                                <i class="mdi mdi-linkedin"></i>
                            </span>
                            <span>LinkedIn</span>
                        </a>
                    </div>
                    <div class="column">
                        <a class="button is-large is-info" href="https://twitter.com/CSchnackel" target="_blank">
                            <span class="icon is-medium">
                                <i class="mdi mdi-twitter"></i>
                            </span>
                            <span>Twitter</span>
                        </a>
                    </div>
                </div>
            </p>
            </div>
        </div>
    </div>
</footer>