<section class="primaryColor section noBotPad">
    <nav class="container level navContainer">
        <div class="level-left">
            <div class="level-item">
                <h3>schnackel.io</h3>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <h4><a href="/about"><span class="navItem" ng-class="{selected: currNav === 'about'}">about</span></a>
                    &nbsp;<span class="is-hidden-touch">&nbsp;&nbsp;&nbsp;</span>/<span class="is-hidden-touch">&nbsp;&nbsp;&nbsp;</span>&nbsp;
                    <a href="/projects"><span class="navItem" ng-class="{selected: currNav === 'projects'}">projects</span></a>
                    &nbsp;<span class="is-hidden-touch">&nbsp;&nbsp;&nbsp;</span>/<span class="is-hidden-touch">&nbsp;&nbsp;&nbsp;</span>&nbsp;
                    <a href="/contact"><span class="navItem" ng-class="{selected: currNav === 'contact'}">contact</span></a>
                </h4>
            </div>
        </div>
    </nav>
</section>