<section ng-include="'views/partials/nav.html'"></section>
<section class="primaryColor section noBotPad">
    <div class="container">
        <h1 class="has-text-centered has-text-left-desktop">about</h1>
    </div>
</section>
<section class="container section noBotPad paddingFix">
    <div class="columns is-desktop">
        <div class="column is-hidden-touch">
            <figure class="image is-square">
                <img src="../../images/Profile.png" />
            </figure>
        </div>
        <div class="column is-hidden-desktop has-text-centered">
                <img id="profImgTouch" src="../../images/Profile.png" />
        </div>
        <div class="column is-8-desktop">
            <p class="has-padding has-text-left about is-size-4 is-size-5-touch">
                My name is Cam Schnackel. I am a seasonsed Full Stack Web Developer living in Minneapolis with extensive experience in creating thoughtful solutions in order to fix complex problems. I first began coding in basic HTML/CSS when I was 7 years old with some teaching from
                my older sister. It wasn't until I decided to attend Prime Digital Academy in 2017 that I finally made a career out of my passion. Through
                an intense 20-week Full Stack Software Engineering program, I learned the foundational knowledge I needed to jump start my new career. Since then I have contributed my skillset to a number of companies from tiny startups to the Fortune 5 UnitedHealth Group.
                <br>
                <br> I have a range of technical skills which I am constantly adding to including: ReactJS, Angular / AngularJS, Vue.js / VueX, jQuery, JavaScript, HTML5 / CSS3, Typescript, Freemarker, Git / GitHub, Node.js, Express.js, AJAX, npm / Yarn, Webpack, Firebase, MongoDB Atlas, PostgreSQL, AWS Cloud, APIs, Angular Material, MaterialUI, Vuetify, Bootstrap, and Responsive Design.
            </p>
        </div>
        <!-- <div class="column is-hidden-desktop has-text-centered">
            <figure class="image is-square">
                <img id="profImg" src="../../images/Profile.png" />
            </figure>
        </div> -->
    </div>
</section>