<section ng-include="'views/partials/nav.html'"></section>
<section class="primaryColor section noBotPad">
    <div class="container">
    <h1 class="has-text-centered has-text-left-desktop">about me</h1>
    </div>
</section>
<section class="container section noBotPad">
    <div class="columns is-desktop">
        <div class="column is-hidden-touch">
        <img id="profImg" src="../../images/Profile.png"/>
        </div>
        <div class="column is-8-desktop">
            <p class="has-text-centered has-text-left-desktop about">
                My name is Cam Schnackel. I am a Full Stack Software Engineer living in Minneapolis who has a passion for solving problems through development. I first began coding in basic HTML/CSS when I was 7 years old with some teaching from my older sister. I hasn't touched it much since until I decided to attend Prime Digital Academy. Through an intense 20-week Full Stack Software Engineering program, I became a proficient developer and finally found my passion.
                <br><br>
                I have a range of technical skills which I am constantly adding to including: MongoDB, Express.js, AngularJS, Node.js, JavaScript, HTML5, CSS3, Git/GitHub, jQuery, pSQL, AJAX, APIs, Angular Material, Bootstrap, Bulma, PassportJS, Mocha, and Mobile Responsive design.
            </p>
        </div>
        <div class="column is-hidden-desktop has-text-centered">
            <img id="profImgTouch" src="../../images/Profile.png" />
        </div>
    </div>
</section>