<section ng-include="'views/partials/nav.html'"></section>
<section class="primaryColor section noBotPad">
    <div class="container">
        <h1 class="has-text-centered has-text-left-desktop">contact</h1>
    </div>
</section>
<section class="container section noBotPad">

    <div class="columns">
        <div class="column is-half">
            <p class="is-size-1 has-text-weight-semibold" id="contact">
                I'd love to hear from you
            </p>
            <br>
            <p class="is-size-3" id="contact">
                Please don't hesitate to reach out. Whether you're impressed by my work and have need for my skills or even just want to grab coffee and chat, use the contact form to the right to sned me a message and I will get back to you as soon as possible!
            </p>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-12 is-vertical is-parent">
                <div class="tile is-child box">
                    <div class="column">
                        <div class="field">
                            <label class="label">Name</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="Enter you name" ng-model="cc.contactForm.name">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input is-danger" type="email" placeholder="Enter your email" value="" ng-model="cc.contactForm.email">
                                <span class="icon is-small is-left">
                                    <i class="mdi mdi-email"></i>
                                </span>
                                <span class="icon is-small is-right">
                                    <i class="mdi mdi-warning"></i>
                                </span>
                            </div>
                            <p class="help is-danger">This email is invalid</p>
                        </div>

                        <div class="field">
                            <label class="label">Message</label>
                            <div class="control">
                                <textarea class="textarea" placeholder="What would you like to say?" ng-model="cc.contactForm.message"></textarea>
                            </div>
                        </div>

                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link" ng-click="cc.sendMessage()">Submit</button>
                            </div>
                            <div class="control">
                                <button class="button is-text" ng-click="cc.clearFields()">Clear</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" ng-class="{'is-active': cc.modal}">
        <div class="modal-background" ng-click="cc.modalToggle()"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <button class="delete" aria-label="close" ng-click="cc.modalToggle()"></button>
            </header>
            <section class="modal-card-body">
                <p class="subtitle">
                    Thank you for your message. I will be in touch with you within the next 48 hours.
                </p>
            </section>
            <footer class="modal-card-foot">
                <button class="button" ng-click="cc.modalToggle()">Close</button>
            </footer>
        </div>
    </div>
</section>