<section ng-include="'views/partials/nav.html'"></section>
<section class="primaryColor section noBotPad">
    <div class="container">
        <h1 class="has-text-centered has-text-left-desktop">contact</h1>
    </div>
</section>
<section class="container section noBotPad paddingFix">

    <div class="columns">
        <div class="column is-half">
            <p class="is-size-1 is-size-3-touch has-text-weight-semibold has-text-centered-touch" id="contact">
                I'd love to hear from you
            </p>
            <br>
            <p class="is-size-3 is-size-4-touch" id="contact">
                If you're looking for a talented Software Engineer or even just want to grab coffee and chat, use the contact form and I will reach out to you as soon as possible.
            </p>
        </div>
        <div class="tile is-ancestor paddingFix">
            <div class="tile is-12 is-vertical is-parent">
                <div class="tile is-child box">
                    <div class="column">
                        <form class="control" ng-submit="cc.sendMessage()">
                        <div class="field">
                            <label class="label">Name</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" placeholder="Enter you name" ng-model="cc.contactForm.name" required>
                                <span class="icon is-small is-left">
                                    <i class="mdi mdi-account"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control has-icons-left">
                                <input class="input" type="email" placeholder="Enter your email" value="" ng-model="cc.contactForm.email" required>
                                <span class="icon is-small is-left">
                                    <i class="mdi mdi-email"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Message</label>
                            <div class="control">
                                <textarea class="textarea" placeholder="What would you like to say?" ng-model="cc.contactForm.message" required></textarea>
                            </div>
                        </div>

                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link" type="submit">Submit</button>
                            </div>
                            <div class="control">
                                <button class="button is-text" ng-click="cc.clearFields()">Clear</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" ng-class="{'is-active': cc.modal.success}">
        <div class="modal-background" ng-click="cc.modalToggle('success')"></div>
        <div class="modal-card">
            <section class="modal-card-body has-text-centered">
                <p class="subtitle">
                    Your message was successfully sent. Thank you for reaching out. I will be in touch with you within the next 48 hours.
                </p>
                <button class="button is-success" ng-click="cc.modalToggle('success')">Close</button>
            </section>
        </div>
    </div>

    <div class="modal" ng-class="{'is-active': cc.modal.error}">
        <div class="modal-background" ng-click="cc.modalToggle('error')"></div>
        <div class="modal-card">
            <section class="modal-card-body has-text-centered">
                <p class="subtitle">
                    Something went wrong, please try again later. If the issue persists feel free to reach out to me via <a href="https://www.linkedin.com/in/camschnackel/">LinkedIn</a> or send me an email at cam@schnackel.io.
                </p>
                <button class="button is-success" ng-click="cc.modalToggle('error')">Close</button>
            </section>
        </div>
    </div>
</section>