<!-- <section>

</section>
<section layout="row" layout-align="center start">
    <div flex="65" layout="row" layout-align="space-between center">
        <div flex="30">
        <img id="profImg" src="../../images/Profile.png"/>
        </div>
        <div flex="50">
            <p>This is a test</p>
        </div>
    </div>
</section> -->

<section class="columns" id="mainSection">
    <div class="column is-one-quarter"></div>
    <div class="column">
    <div class="columns" id="nav">
        <div class="column is-one-quarter">
            <h1>Cam Schnackel</h1>
        </div>
        <div class="column">
            <h2>about / code / contact</h2>
        </div>
    </div>
    </div>
    <div class="column is-one-quarter"></div>

</section>