<section ng-include="'views/partials/nav.html'"></section>
<section class="primaryColor section noBotPad">
    <div class="container">
        <h1 class="has-text-centered has-text-left-desktop">projects</h1>
    </div>
</section>
<section class="container section noBotPad">
    <p>Github Repos - {{pc.user.data.public_repos}} and counting!</p>

    <div class="tile is-ancestor">
        <div class="tile is-12 is-parent">
            <div class="tile is-child box" ng-repeat="repo in ">
                <p class="title">One</p>
            </div>
        </div>
    </div>
</section>